<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229365783538-k9sdfi6fra6d1cpf7qhoksed7b80fvj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229365783538-k9sdfi6fra6d1cpf7qhoksed7b80fvj9</string>
	<key>API_KEY</key>
	<string>AIzaSyD32fOHyxOnzLTbemTDgYcd_qHbnGXx5v4</string>
	<key>GCM_SENDER_ID</key>
	<string>229365783538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fyto</string>
	<key>PROJECT_ID</key>
	<string>fyto-316c1</string>
	<key>STORAGE_BUCKET</key>
	<string>fyto-316c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229365783538:ios:729a288d2b00a16e05296b</string>
</dict>
</plist>